<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <form id="formaction" method="POST">
    <strong>Email: </strong><input type="email"  style="color:black;" name="email">&nbsp;&nbsp;
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="Send">
</form>
<script>
    var contactform =  document.getElementById('formaction');
    contactform.setAttribute('action', '//formspree.io/' + 'UKChannel8' + '@' + 'gmail' + '.' + 'com');
</script>
</section>
